/*
 *自定义css
 *
 * 
 * */
* {
  border-width: 0.5px;
}
*:after,
*:before {
  -webkit-transform-origin: 0 0;
}
html,
body {
  font-family: "PingFang SC", sans-serif !important;
  -webkit-text-size-adjust: 100%;
  color: #333333 !important;
}
.mui-popup {
  top: 45% !important;
}
.ft8 {
  font-size: 8px !important;
}
.ft10 {
  font-size: 10px !important;
}
.ft12 {
  font-size: 12px !important;
}
.ft14 {
  font-size: 14px !important;
}
.ft16 {
  font-size: 16px !important;
}
.ft18 {
  font-size: 18px !important;
}
.ft20 {
  font-size: 20px !important;
}
